<!DOCTYPE html>
<html>
<head>
  <title>CoffEe</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript">
  // This identifies your website in the createToken call below
  Stripe.setPublishableKey('pk_test_e0e0pwUuanDlnHRlQqZ1XPJT');
  // ...
</script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>
		<h1><%= link_to "Coff.ee", root_path %></h1>
		<nav>
			<%#instead of linking up a little bit of text, link up the whole section between do and end %>
			<%= link_to new_order_path do %>
			<strong><%= pluralize basket.size, "item" %> in your basket</strong>
			<% end %>

				<% if current_user.present? %>
				<%= image_tag current_user.image %>
				<%= current_user.name %>

				<%= link_to "Orders", orders_path %>
				<%= link_to "Log out", session_path, method: :delete %>
				<% else %>	

				<a href "/auth/facebook">Sign in with Facebook</a>
				<a href = "/auth/twitter">Sign in with Twitter</a>
				<% end %>	
		</nav>

<%= yield %>

</body>
</html>
